        *{
            margin:0;
            padding:0;
            box-sizing:border-box;
        }

        body{
            background:#111;
            color:#fff;
        }

header{
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
    align-items: center; /* eje vertiacl centrado */
}

header img{
    width: 10%;

}

header nav{
    display: flex;
    justify-content: center;
    gap: 12px;
    margin-right: 20px;
}

.bandit {
    position: relative;
    width: 100%;
}

.bandit img {
    width: 100%;
    height: 500px;      
    object-fit: cover;  
    display: block;
}

/* contenedor del texto */
.bandit div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: whitesmoke;
    text-align: center;
}

#planes { 
    justify-content: center;
    display: flex;
    text-align: center;
    align-items: center;
    height: 900px;
    gap: 10px;
    background-color: #7C7C7C;
}

.tarjeta{
    width: 280px;
    height: 350px;   
    background: #1c1c1c;
    color: white;

    padding: 25px;
    border-radius: 12px;

    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    text-align: center;
}

.tarjeta h3{
    color: orangered;
}

#clases{
    background: url("./img/fondo-gym.jpg") center/cover no-repeat;
    padding: 80px 100px;
    color: white;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px 80px;
}

/* subtitulo ACTIVIDADES */
.subtitulo{
    grid-column: 1 / -1;
    text-align: center;
    color:orangered;
    font-size: 18px;
    margin: 0;
}

/* titulo principal */
.titulo{
    grid-column: 1 / -1;
    text-align: center;
    font-size: 42px;
    margin-bottom: 40px;
}

/* cada actividad */
.actividad{
    display: flex;
    align-items: center;
    gap: 20px;
}

/* iconos */
.actividad img{
    width: 60px;
    height: 60px;
}

/* titulo ZUMBA, GAP, etc */
.actividad h4{
    color: orangered;
    font-size: 22px;
    margin: 0 0 5px 0;
}

/* texto */
.actividad p{
    margin: 0;
    color: #ccc;
    font-size: 15px;
    line-height: 1.4;
}


